body {
    padding: 0;
    margin: 0;
}

.hero {
    height: 45vh;
    background-color: #6DA59B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.hero-content {
    padding: 0 15%;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;

}

.hero-content h1 {
    margin: 0; 
}

.image-wrapper {
    margin-bottom: 20px;

}

.dropdown-wrapper {
    text-align: center;
    margin-bottom: 10px;
}

.image-dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
    height: 100%;
}

.survey-section {
    height: 40vh;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    
    
}

.survey-content {
    
    margin-top:auto;
    margin-bottom: 20px;
    width: calc(50% - 10px);
    max-width: 500px; 
    text-align: left;
    margin: 0 auto 30 px; 
    flex-direction: column;
    
}

.bottom {
    height: 30vh;
    background-color: #6DA59B;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-;
    
}

.bottom-content {
    padding: 0 15%;
    margin-bottom: 0px;
    text-align: center;
    width: 100%;
}




.zen-loop-regular {
    font-family: "Zen Loop", cursive;
    font-weight: 400;
    font-size: 100px;
    font-style: normal;
    padding: 1px 1px;
    }

    .zen-loop-smaller {
    font-family: "Zen Loop", cursive;
    font-weight: 400;
    font-size: 30px;
    color: black;
    font-style: normal;
    margin: 15px;
    
    }


.kandy-content {
    padding: 0 0;
    margin-bottom: 0px;
}

#left-picture {
    margin-left: 160px;
}

#table {
    max-width: 600px;
}
